#form{
    position : relative;
    top : 100px;
    left : 40%;
    width : 250px;
    padding : 10px;
    border : 2px solid black;
    border-radius : 10px;
}

li{
    font : bold 15px Tahoma;
    list-style : none;
}

footer{
    margin-top : 200px;
}
