<!doctype>
<html>
    <head>
        <title>Cooking Guide</title>
    </head>
    
    <body>

        <header ><h3>Cooking Guide</h3></header>
    
        <section>
    
            <div align="center">
                <!-- REDIRECTING TO "account" APP's "login" PAGE FROM "cook" APP -->
                <a href="account/login"><button>Login</button></a>
                <!-- REDIRECTING TO "account" APP's "register" PAGE FROM "cook" APP -->
                <a href="account/register"><button>Register</button></a>
            </div>
    
        </section>

    </body>
</html>
